<div id="tab1" class="tab_content">
  <p>The Laguna is a spacious six seater hot tub that offers a relaxing hydrotherapy experience comprising 52 jets. Designed for simplicity this 13amp plug and play hot tub is very portable, meaning you can relocate at any time. The 2 speed pump gives 4 stages of hydrotherapy massage and the multi coloured light provides a fun night time experience.</p>

  <p>The Laguna hot tub is rotationally molded, which is a manufacturing process that uses less material and labour than a traditional acrylic hot tub. This method means that we are able to deliver a premium hot tub at a more affordable price point. The Laguna hot tub is incredibly durable due to their manufacturing process which produces a very strong one-piece hot tub shell, eliminating the need for an internal support.</p>

</div>
<div id="tab2" class="tab_content">
  <div data-mce-fragment="1">
    <p data-mce-fragment="1">Specification</p>
    <table data-mce-fragment="1">
      <tbody data-mce-fragment="1">
        <tr data-mce-fragment="1">
          <td data-mce-fragment="1">Capacity:</td>
          <td data-mce-fragment="1">6 Person - 5 sitting + 1 lounger</td>
        </tr>
        <tr data-mce-fragment="1">
          <td data-mce-fragment="1">Size:</td>
          <td data-mce-fragment="1"></td>
        </tr>
        <tr data-mce-fragment="1">
          <td data-mce-fragment="1">Water Capacity:</td>
          <td data-mce-fragment="1"></td>
        </tr>
        <tr data-mce-fragment="1">
          <td data-mce-fragment="1">Jets: </td>
          <td data-mce-fragment="1">52</td>
        </tr>
        <tr data-mce-fragment="1">
          <td data-mce-fragment="1">Controls:</td>
          <td data-mce-fragment="1"></td>
        </tr>
        <tr data-mce-fragment="1">
          <td data-mce-fragment="1">Music: </td>
          <td data-mce-fragment="1"></td>
        </tr>
        <tr data-mce-fragment="1">
          <td data-mce-fragment="1">Electrical Supply Required:</td>
          <td data-mce-fragment="1"></td>
        </tr>
        <tr data-mce-fragment="1">
          <td data-mce-fragment="1">Heater:</td>
          <td data-mce-fragment="1"></td>
        </tr>
        <tr data-mce-fragment="1">
          <td data-mce-fragment="1">Pumps:</td>
          <td data-mce-fragment="1"></td>
        </tr>
        <tr data-mce-fragment="1">
          <td data-mce-fragment="1">Circulation Pump:</td>
          <td data-mce-fragment="1"></td>
        </tr>
        <tr data-mce-fragment="1">
          <td data-mce-fragment="1">Lighting Jets:</td>
          <td data-mce-fragment="1"></td>
        </tr>
        <tr data-mce-fragment="1">
          <td data-mce-fragment="1">Insulation: </td>
          <td data-mce-fragment="1"></td>
        </tr>
        <tr data-mce-fragment="1">
          <td data-mce-fragment="1">Ozone: </td>
          <td data-mce-fragment="1"></td>
        </tr>
        <tr data-mce-fragment="1">
          <td data-mce-fragment="1">LED Lighting: </td>
          <td data-mce-fragment="1"></td>
        </tr>
        <tr data-mce-fragment="1">
          <td data-mce-fragment="1">Waterfall: </td>
          <td data-mce-fragment="1"></td>
        </tr>
        <tr data-mce-fragment="1">
          <td data-mce-fragment="1">Aromatherapy: </td>
          <td data-mce-fragment="1"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div id="tab3" class="tab_content">

</div>
<div id="tab4" class="tab_content">

</div>
<div id="tab5" class="tab_content">
  <p>HOT TUB FINANCE</p>
  <meta charset="utf-8" />
  <h3><strong><span>SPREAD THE COST OF YOUR HOT TUB</span></strong></h3>
  <div class="row">
  <div class="col-md-8">
  <p><span><picture><source type="image/webp" srcset="https://www.h2ohottubs.co.uk/media/wysiwyg/Blog/hot-tub-nice-min.webp" /><source type="image/jpg" srcset="https://www.h2ohottubs.co.uk/media/wysiwyg/Blog/hot-tub-nice-min.jpg" /></picture></span></p>
  </div>
  <div class="col-md-16">
  <h3><strong><span>PAY MONTHLY HOT TUBS</span></strong></h3>
  <h5><span>START ENJOYING THOSE BUBBLES SOONER!<br /></span></h5>
  <p><span>Have you been thinking about owning a <a href="https://www.hottubliverpool.co.uk/">hot tub</a> for ages, but don't want to wait to save up the cash? </span><span>Or perhaps you had a budget but want to stretch a bit further for the next model up! Rather than taking out a personal loan or using a credit card, you can opt for one of our <strong>hot tub finance</strong> packages, making it easier than ever own a hot tub.</span></p>
  <p><span>We offer a choice of two finance providers depending on your individual circumstances and credit history. Duologi is for those who are confident in their credit history, whereas for those with blemishes on their record or doubts about their ability to be automatically accepted, we work with Snap Finance who have a great offering too!<br /></span></p>
  <p><span>We also offer 0% APR on our hot tubs, so you can enjoy interest free hot tub payments. All finance packages are available subject to application, your financial circumstances and your borrowing history and a hard credit search will be required to process your application. The hot tub can only be delivered to the finance applicant's home address unless otherwise agreed with us beforehand.</span></p>
  <p><span><em>*Deposit amount varies per spa model.</em></span></p>
  </div>
  </div>
  <hr />
  <p><span><strong>OUR FINANCE OPTIONS</strong></span></p>
  <p><strong><span>FINANCE YOUR HOT TUB WITH</span></strong></p>
  <div class="row">
  <div class="col-md-12">
  <p> </p>
  </div>
  <div class="col-md-12">
  <p><img src="https://cdn.shopify.com/s/files/1/0539/2154/6425/files/Novuna-Stacked-Logo_Personal-Finance_Purple_480x480.png?v=1644415712" alt="Novuna Personal Finance Logo" width="412" height="141" /></p>
  <p><a href="https://hottubliverpool.com/pages/novuna-finance-for-your-jacuzzi-hot-tub"><img src="https://cdn.shopify.com/s/files/1/0539/2154/6425/files/NOVUNA_BUTTON_480x480.png?v=1660387205" alt="novuna finance option - hot tub liverpool" width="219" height="52" /></a> </p>
  <meta charset="utf-8" />
  <div class="col-md-12">
  <p><picture><img src="https://www.h2ohottubs.co.uk/media/wysiwyg/duo_logo_pw-min.jpg" alt="duologi hot tub finance" width="" height="150" loading="lazy" /></picture></p>
  <p><picture><source type="image/webp" srcset="https://www.h2ohottubs.co.uk/media/wysiwyg/Finance/button_explore-duologi.webp" /><source type="image/png" srcset="https://www.h2ohottubs.co.uk/media/wysiwyg/Finance/button_explore-duologi.png" /></picture><a href="https://hottubliverpool.com/pages/duologi-finance-for-your-hot-tub"><img src="https://www.h2ohottubs.co.uk/media/wysiwyg/Finance/button_explore-duologi.png" alt="DUOLOGI BUTTON" width="210" height="50" loading="lazy" /></a></p>
  <p> </p>
  <meta charset="utf-8" />
  <div class="col-md-12">
  <p><picture><img src="https://www.h2ohottubs.co.uk/media/wysiwyg/Finance/snap-finance-1024x434.png" alt="snap hot tub finance" width="354" height="150" loading="lazy" /></picture></p>
  </div>
  <div class="col-md-12">
  <p> </p>
  <p><picture><source type="image/webp" srcset="https://www.h2ohottubs.co.uk/media/wysiwyg/Finance/button_explore-snap-finance.webp" /><source type="image/png" srcset="https://www.h2ohottubs.co.uk/media/wysiwyg/Finance/button_explore-snap-finance.png" /></picture><a href="https://hottubliverpool.com/pages/snap-finance-for-your-hot-tub"><img src="https://www.h2ohottubs.co.uk/media/wysiwyg/Finance/button_explore-snap-finance.png" alt="snap button" width="210" height="50" loading="lazy" /></a></p>
  </div>
  </div>
  </div>
  </div>
  <hr />
  <p><span><strong>To make paying monthly for your hot tub as flexible as possible, finance is available through two different companies; Duologi and Snap Finance.</strong></span></p>
  <p><span>Depending on your credit score or recent credit history, you may choose to apply for finance for your hot tub through either Duologi or Snap Finance. For those with adverse credit or blips on their credit history over the last few years, Snap Finance is probably the product for you. </span><span>Click here to learn more about Snap Finance and apply for finance online.</span></p>
  <p><span>Through Duologi, our hot tub monthly payments start very low, and we offer a range of flexible packages to suit all monthly budgets. Your deposit can be adjusted from 10-50%* in order to find a monthly payment that suits your budget. If at any time you want to pay off your finance agreement early, that's no problem!</span></p>
  <p> </p>
  <p><picture><source type="image/webp" srcset="https://www.h2ohottubs.co.uk/media/wysiwyg/Nic/button_browse-our-hot-tub-range.webp" /><source type="image/png" srcset="https://www.h2ohottubs.co.uk/media/wysiwyg/Nic/button_browse-our-hot-tub-range.png" /></picture><a href="https://hottubliverpool.com/collections/all-hot-tubs"><img src="https://www.h2ohottubs.co.uk/media/wysiwyg/Nic/button_browse-our-hot-tub-range.png" alt="hot tub finance" width="400" height="" loading="lazy" /></a></p>
  <p align="justify"> </p>
  <table cellpadding="5" border="1">
  <tbody>
  <tr>
  <td>
  <p align="justify"><span><strong>HOW IT WORKS:</strong></span></p>
  <p align="justify"><span><strong>If you choose Duologi because you have a good credit rating and good credit history, then it's really easy to apply for finance. You can do this by ordering your hot tub online and choosing Duologi as the payment method when you check out. It will direct you to apply for finance and allow you to choose the exact monthly payment package that suits your budget.<br /></strong></span></p>
  <p align="justify"><span><strong>Alternatively, just give us a call and you can order your hot tub on the phone by talking to our friendly team... they'll send you a link to apply for the finance package that's right for you.</strong></span></p>
  <p align="justify"><span> ... it's that simple!</span></p>
  <p align="justify"><span>You will normally get a response immediately letting you know if your application was successful.</span></p>
  </td>
  </tr>
  </tbody>
  </table>
  <h3 align="justify"> <br />Now, let's find your dream hot tub.</h3>
  <p><picture><source type="image/webp" srcset="https://www.h2ohottubs.co.uk/media/wysiwyg/Nic/button_browse-our-hot-tub-range.webp" /><source type="image/png" srcset="https://www.h2ohottubs.co.uk/media/wysiwyg/Nic/button_browse-our-hot-tub-range.png" /></picture><a href="https://hottubliverpool.com/collections/all-hot-tubs"><img src="https://www.h2ohottubs.co.uk/media/wysiwyg/Nic/button_browse-our-hot-tub-range.png" alt="hot tub finance" width="497" height="" loading="lazy" /></a></p>
  <p class="font_h6 font_grey">Finance option availability and the required deposit is subject to the Hot Tub Liverpool<strong></strong>s model being purchased – please contact us or ask our team in the showroom for more details. Credit is subject to status and affordability. Terms and conditions apply. HOTTUBLIVERPOOL LTD are a credit broker and not a lender. We are authorised and regulated by the Financial Conduct Authority with number 946472.</p>
</div>
<div id="tab6" class="tab_content">
  <p>When you have placed your order with us and paid your deposit, we will arrange for one of our Engineers to come out to your property to carry out a free of charge access check to ascertain whether you will need a crane to get your new hot tub in place or if we will be able to use our sleigh to get the tub in place.</p>
  <p>Once this has been decided we will contact you to arrange a convenient delivery date for our Engineers to come and deliver and install your hot tub.</p>
  <p>When we contact you to arrange a delivery date, we will explain that your balance is due. If you wish to pay your balance via credit or debit card, we ask for payment 7-days before delivery, however, should you wish to pay by bank transfer or cash, this can be paid on the day of delivery.</p>
  <p>On the day of delivery, we will bring your hot tub and get it in place. We will then start the installation process. Our Engineers will wait with you whilst the tub is filling, we will then carry out chemical tuition with you, whereby we explain when to use which chemicals and how much to use. We will also explain how to drain and clean your tub.</p>
</div>